#main {
  width: 900px;
  margin: 0 auto;
}
#main article {
  -webkit-transition: background-color 0.5s ease, border-width 0.5s ease-in-out;
  -moz-transition: background-color 0.5s ease, border-width 0.5s ease-in-out;
  -ms-transition: background-color 0.5s ease, border-width 0.5s ease-in-out;
  -o-transition: background-color 0.5s ease, border-width 0.5s ease-in-out;
  transition: background-color 0.5s ease, border-width 0.5s ease-in-out;
  border: 1px solid #dcdcdc;
  background-color: #f0f0f0;
}
#main article:hover {
  border: 10px solid #a9a9a9;
  background-color: #bdbdbd;
}
