// Import Cobalt Less project file
@import "../cobalt.less";

@bg: rgb(240, 240, 240);
@bg_hover: darken(@bg, 20%);

@border: rgb(220, 220, 220);
@border_hover: darken(@border, 20%);

#main {
    width: 900px;
    margin: 0 auto;

    article {
        .linear-gradient-top-left(#ddd,fade(#fff, 20%));
    }
}
