// Browser prefixed transition
.transition(@transition) {
    -webkit-transition: @transition;
    -moz-transition: @transition;
    -ms-transition: @transition;
    -o-transition: @transition;
    transition: @transition;
}

// Transform
.transform(@arguments) {
    -webkit-transform: @arguments;
    -moz-transform: @arguments;
    -o-transform: @arguments;
    -ms-transform: @arguments;
    transform: @arguments;
}

// Animation
.animation(@arguments) {
    -webkit-animation: @arguments;
    -moz-animation: @arguments;
    -o-animation: @arguments;
    animation: @arguments;
}

// Rotate
.rotate(@deg: 5deg){
    .transform(rotate(@deg));
}

// Scale
.scale(@ratio: 1.5){
    .transform(scale(@ratio));
}

// Translate
.translate(@x:0, @y:0) {
    .transform(translate(@x, @y));
}
